<div class="space-100"></div>
<link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet'>

<div class="container">
   <article class="card">
       <header class="card-header"> Thông tin tác phẩm </header>
       <div class="card-body">
           <h6>Mã nhạc số: DAM5345435</h6>
           <article class="card">
               <div class="card-body row">
                   <div class="col"> <strong>File đính kèm</strong> <br>Lyrics </div>
                   <div class="col"> <strong>Tên tác phẩm</strong> <br>29 nov 2019 </div>
                   <div class="col"> <strong>Sở hữu bởi:</strong> <br> BLUEDART, | <i class="fa fa-phone"></i> +1598675986 </div>
                   <div class="col"> <strong>Đăng tải</strong> <br> Picked by the courier </div>
                   <div class="col"> <strong>Trị giá gốc</strong> <br> 200,000 VNĐ </div>
               </div>
           </article>
           <article class="card">
               <div class="card-body row">
                  <div class="container-audio">
                     <audio controls  loop autoplay>
                        <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9473/new_year_dubstep_minimix.ogg" type="audio/ogg">
                        Your browser dose not Support the audio Tag
                     </audio>
                  </div>
                  <div class="container-audio">
                     <div class="colum1">
                        <div class="row"></div>
                     </div>
                     <div class="colum1">
                        <div class="row"></div>
                     </div>
                     <div class="colum1">
                        <div class="row"></div>
                     </div>
                     <div class="colum1">
                        <div class="row"></div>
                     </div>
                     <div class="colum1">
                        <div class="row"></div>
                     </div>
                     <div class="colum1">
                        <div class="row"></div>
                     </div>
                     <div class="colum1">
                        <div class="row"></div>
                     </div>
                     <div class="colum1">
                        <div class="row"></div>
                     </div>
                     <div class="colum1">
                        <div class="row"></div>
                     </div>
                     <div class="colum1">
                        <div class="row"></div>
                     </div>
                     <div class="colum1">
                        <div class="row"></div>
                     </div>
                     <div class="colum1">
                        <div class="row"></div>
                     </div>
                     <div class="colum1">
                        <div class="row"></div>
                     </div>
                     <div class="colum1">
                        <div class="row"></div>
                     </div>
                     <div class="colum1">
                        <div class="row"></div>
                     </div>
                     <div class="colum1">
                        <div class="row"></div>
                     </div>
                     <div class="colum1">
                        <div class="row"></div>
                     </div>
                     <div class="colum1">
                        <div class="row"></div>
                     </div>
                     <div class="colum1">
                        <div class="row"></div>
                     </div>
                     <div class="colum1">
                        <div class="row"></div>
                     </div>
                     <div class="colum1">
                        <div class="row"></div>
                     </div>
                     <div class="colum1">
                        <div class="row"></div>
                     </div>
                     <div class="colum1">
                        <div class="row"></div>
                     </div>
                  </div>
               </div>
           </article>
       </div>
   </article>
</div>
