<!doctype html>
<html lang="en">
  <head>
    <title>Cyptian</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--header icon CSS -->
    <link rel="icon" href="../../assets/img/fabicon.png">
  </head>
  <body>
    <!--welcome area start-->
    <div class="welcome-area wow fadeInUp" id="home">
        <div id="particles-js"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 align-self-center">
                    <div class="welcome-right">
                        <div class="welcome-text">
                             <h1>BLOCKCHAIN</h1>
                             <h1 style="color: #ffff00bf;">SMART CONTRACT</h1>
                            <h4>Sifting through teaspoons of clay and sand scraped from the 
    floors of caves, German researchers have managed.</h4>
                        </div>
                        <div class="welcome-btn">
                            <a href="#" class="gradient-btn v2 mr-20">Tạo tài khoản</a>
                            <a href="#" class="gradient-btn v2">Download Whitepaper</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="welcome-img">
                        <img src="assets/img/welcome-img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--welcome area end-->

    <!--about area start-->
    <div class="about-area wow fadeInUp" id="about">
        <div class="space-30"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="heading">
                        <h5>We are featured in</h5>
                    </div>
                    <div class="space-30"></div>
                </div>
            </div>
            <div class="logo-carousel text-center row">
                <div class="single-logo-wrapper col-lg-3">
                    <div class="single-item">
                        <img src="assets/img/c-logo-1.png" alt="">
                    </div>
                </div>
                <div class="single-logo-wrapper col-lg-3">
                    <div class="single-item">
                        <img src="assets/img/c-logo-2.png" alt="">
                    </div>
                </div>
                <div class="single-logo-wrapper col-lg-3">
                    <div class="single-item">
                        <img src="assets/img/c-logo-3.png" alt="">
                    </div>
                </div>
                <div class="single-logo-wrapper col-lg-3">
                    <div class="single-item">
                        <img src="assets/img/c-logo-4.png" alt="">
                    </div>
                </div>
            </div>
            <div class="space-90"></div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="about-mid-img">
                        <img src="assets/img/about-left.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6 align-self-center">
                    <div class="heading">
                        <h5>We are featured in</h5>
                    </div>
                    <div class="about-mid-text">
                        <h1>A Platform for Exchange 
                        Cyrptocurrency and shares</h1>
                        <div class="space-10"></div>
                        <p>Mauna Loa, the biggest volcano on Earth  half the Island of Hawaii. Just 35 miles to the northeast, Mauna Kea, known to native Hawaiians as Mauna a Wakea, rises nearly 14,000 feet above sea level.  If they are so close together, how did they develop in two parallel tracks .Sifting through teaspoons of clay and sand scraped from the floors of caves.</p>
                    </div>
                    <div class="space-30"></div>
                    <a href="#" class="gradient-btn v2 about-btn"> <i class="fa fa-send-o"></i> join us on telegraph</a>
                </div>
            </div>
        </div>
        <div class="space-90"></div>
    </div>
    <!--about area end-->

    <!--single about area start-->
    <div class="single-about-area wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <a href="#" class="single-about">
                        <div class="single-about-img">
                            <img src="assets/img/about-icon-1.png" alt="">
                        </div>
                        <div class="single-about-text">
                            <h4>Exciting Opportunity</h4>
                            <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a not quite tuned in radio station rises and for a while drowns</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="#" class="single-about">
                        <div class="single-about-img">
                            <img src="assets/img/about-icon-2.png" alt="">
                        </div>
                        <div class="single-about-text">
                            <h4>Vetted ICO Marketplace</h4>
                            <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a not quite tuned in radio station rises and for a while drowns</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="#" class="single-about">
                        <div class="single-about-img">
                            <img src="assets/img/about-icon-3.png" alt="">
                        </div>
                        <div class="single-about-text">
                            <h4>Diverse Profit Ways</h4>
                            <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a not quite tuned in radio station rises and for a while drowns</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="space-90"></div>
    </div>
    <!--single about area end-->

    <!--ico area start-->
    <div class="section-padding wow fadeInUp ico-area">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="ico-heading">
                        <h1><a href= "#">ICO</a> Live Now</h1>
                    </div>
                </div>
            </div>
            <div class="space-60"></div>
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="single-ico">
                        <h5>Token Sold: 126,419,796</h5>
                        <h5>1 ETH = 235 ICoin</h5>
                        <a href="#">10 % Bonus</a>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="single-ico">
                        <h5><a href="#">ETH</a>collected 90252</h5>
                        <h5><a href="#">BTC</a> collected 90152</h5>
                        <h5><a href="#">LTH</a>collected 5052</h5>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="single-ico">
                        <h5>Sale Ends in :</h5>
                       <div class="row">
                           <div class="col">
                               <span id="days"></span>
                               <h5>days</h5>
                           </div>
                           <div class="col">
                               <span id="hours"></span>
                               <h5>hours</h5>
                           </div>
                           <div class="col">
                               <span id="minutes"></span>
                                <h5>minutes</h5>
                           </div>
                           <div class="col">
                               <span id="seconds"></span>
                               <h5>seconds</h5>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="custom-progressBar">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                <div class="progress-details">
                                    <p>$ 38 M</p>
                                    <div class="progress-d-top"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="single-cup">
                                <p>Soft Cap</p>
                            </div>
                        </div>
                        <div class="col-6 text-right">
                            <div class="single-cup right">
                                <p>max Cap</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <a href="#" class="gradient-btn v2">Buy Tokens</a>
                </div>
            </div>
        </div>
    </div>
    <!--ico area end-->

    <!--Documentation area start-->
    <div class="section-padding documentation-area wow fadeInUp" id="Paper">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="heading">
                        <h5>Whitepaper</h5>
                        <div class="space-10"></div>
                        <h1>Lĩnh vực phổ biến</h1>
                    </div>
                    <div class="space-60"></div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-6 col-lg">
                    <div class="single-document">
                        <div class="document-flag">
                            <img src="assets/img/flag-1.png" alt="">
                        </div>
                        <br>
                        <button class="single-document-text">
                            <span>Y Tế</span>
                        </button>
                    </div>
                </div>
                <div class="col-6 col-lg">
                    <div class="single-document">
                        <div class="document-flag">
                            <img src="assets/img/flag-2.png" alt="">
                        </div>
                        <br>
                        <button class="single-document-text">
                            <span>Giáo Dục</span>
                        </button>
                    </div>
                </div>
                <div class="col-6 col-lg">
                    <div class="single-document">
                        <div class="document-flag">
                            <img src="assets/img/flag-3.png" alt="">
                        </div>
                        <br>
                        <button class="single-document-text">
                            <span>Âm Nhạc</span>
                        </button>
                    </div>
                </div>
                <div class="col-6 col-lg">
                    <div class="single-document">
                        <div class="document-flag">
                            <img src="assets/img/flag-4.png" alt="">
                        </div>
                        <br>
                        <button class="single-document-text">
                            <span>Bầu Cử</span>
                        </button>
                    </div>
                </div>
                <div class="col-6 col-lg">
                    <div class="single-document">
                        <div class="document-flag">
                            <img src="assets/img/flag-5.png" alt="">
                        </div>
                        <br>
                        <button class="single-document-text">
                            <span>Chuỗi Cung Ứng</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Documentation area end-->
    
    <!--distibution-bg start-->
    <div class="distibution-bg">
        <!---distibution area start-->
        <div class="distibution wow fadeInUp" id="token">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                    <div class="heading">
                        <h5>Sale breakdown</h5>
                        <div class="space-10"></div>
                        <h1>Token Sales Contribution</h1>
                    </div>
                    <div class="space-90"></div>
                </div>
                </div>
                <div class="row">
                    <div class="col-2 text-right">
                        <div class="distibution-d distibution-d-2">
                            <ul>
                                <li class="distibution-list-5"><span>40% </span>HR & Development</li>
                                <li class="distibution-list-6"><span>30% </span>Branding & Markting</li>
                                <li class="distibution-list-7"><span>20% </span>Posiblle Buyout</li>
                                <li class="distibution-list-8"><span>10% </span>Legal Advisory </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="distibution-svg distibution-svg-2">
                            <img src="assets/img/token-bottom.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-90"></div>
        </div>
        <!---distibution area end-->
    </div>
    <!--distibution-bg end-->

    <!--roadmap area start-->
    <div class="roadmap-area section-padding wow fadeInUp" id="roadmap">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="heading">
                        <h5>history Timeline</h5>
                        <div class="space-10"></div>
                        <h1>Development Roadmap</h1>
                    </div>
                    <div class="space-60 d-none d-sm-block"></div>
                </div>
            </div>
            
        </div>
        <div class="container">
            <div class="roadmap-carousel row">
                <div class="roadmap-item col-md-3">
                    <div class="single-roadmap text-center road-left">
                        <div class="single-roadmap-img">
                            <img src="assets/img/roadmap-1.png" alt="">
                        </div>
                        <div class="space-30"></div>
                        <div class="roadmap-text">
                            <p>01.03.2017</p>
                            <div class="space-10"></div>
                            <h5>Concept and whitepaper</h5>
                            <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a in token.</p>
                        </div>
                    </div>
                </div>
                <div class="roadmap-item align-self-center col-md-3">
                    <div class="single-roadmap road-right">
                        <div class="row">
                            <div class="col-5 align-self-center">
                                <div class="single-roadmap-img">
                                    <img src="assets/img/roadmap-2.png" alt="">
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="roadmap-text">
                                    <p>21.06 .2017</p>
                                    <h5>Recruitment of Our team</h5>
                                    <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a in token.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="roadmap-item col-md-3">
                    <div class="single-roadmap text-center road-left">
                        <div class="single-roadmap-img">
                            <img src="assets/img/roadmap-4.png" alt="">
                        </div>
                        <div class="space-30"></div>
                        <div class="roadmap-text">
                            <p>31.08.2017</p>
                            <div class="space-10"></div>
                            <h5>Core Development</h5>
                            <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a in token.</p>
                        </div>
                    </div>
                </div>
                <div class="roadmap-item align-self-center col-md-3">
                    <div class="single-roadmap road-right">
                        <div class="row">
                            <div class="col-5 align-self-center">
                                <div class="single-roadmap-img">
                                    <img src="assets/img/roadmap-5.png" alt="">
                                </div>
                        
                            </div>
                            <div class="col-7">
                                <div class="roadmap-text">
                                    <p>31.11.2017</p>
                                    <h5>Main Development</h5>
                                    <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a in token.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--roadmap area end-->

    

    <!--community area start-->
    <div class="community-area wow fadeInUp section-padding" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="heading">
                        <h5>GReat Community</h5>
                        <div class="space-10"></div>
                        <h1>Our Community </h1>
                    </div>
                <div class="space-60"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg">
                    <div class="single-community big-social">
                        <a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
                <div class="col-6 col-lg">
                    <div class="single-community mid-social">
                        <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <div class="single-community">
                        <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
                <div class="col-6 col-lg">
                    <div class="single-community">
                        <a class="github" href="#"><i class="fa fa-github"></i></a>
                    </div>
                    <div class="single-community mid-social">
                        <a class="behance" href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
                <div class="col-6 col-lg">
                    <div class="single-community big-social">
                        <a class="youtube" href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
                <div class="col-6 col-lg">
                    <div class="single-community mid-social">
                        <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="single-community">
                        <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--community area end-->
  </body>
</html>