<div class="space-100"></div>
<div class="container">
    <form class="form-style-12">
        <ul>
            <li>
                <select class="form-control" id="sel1" style="flex: 0.15; border-radius: 0;">
                    <option>All Filters</option>
                    <option>Top Musics</option>
                    <option>Newest Musics</option>
                    <option>Top Artist</option>
                </select>
                <input type="email" name="field2" class="field-style field-split align-right" placeholder="Search by Music / Artist " style="flex: 1;"/>
            </li>
            <li>
                <input type="submit" value="Send Message" />
            </li>
        </ul>
    </form>
</div>

<!-- Main -->
<div id="main">
    <div class="inner">
        <h3 style="color: black;" class="text-center">Bài hát mới nhất</h3>
    <!-- Boxes -->
        <div class="thumbnails">

            <div class="box">
                <div class="inner" style="position: relative;">
                    <div class="wrapper">
                        <main>
                          <aside>
                            <video poster="../../assets/song-background.jpg" src="../../assets/ckin.mp4" data-ckin="default"></video>
                          </aside>
                          <div class="controls">
                            <br>
                            <p>A life-loving, lilting glockenspiel melody skips over a jaunty beat featuring strummed guitar and ukulele.</p>
                          </div>
                        </main>
                    </div>
                </div>
            </div>

            <div class="box">
              <div class="inner" style="position: relative;">
                  <div class="wrapper">
                    <main>
                      <aside>
                        <video poster="../../assets/song-background.jpg" src="../../assets/ckin.mp4" data-ckin="default"></video>
                      </aside>
                      <div class="controls">
                        <br>
                        <p>A life-loving, lilting glockenspiel melody skips over a jaunty beat featuring strummed guitar and ukulele.</p>
                      </div>
                    </main>
                  </div>
              </div>
          </div>

          <div class="box">
            <div class="inner" style="position: relative;">
                <div class="wrapper">
                  <main>
                    <aside>
                      <video poster="../../assets/song-background.jpg" src="../../assets/ckin.mp4" data-ckin="default"></video>
                    </aside>
                    <div class="controls">
                      <br>
                      <p>A life-loving, lilting glockenspiel melody skips over a jaunty beat featuring strummed guitar and ukulele.</p>
                    </div>
                  </main>
                </div>
            </div>
        </div>
        
        <div class="box">
          <div class="inner" style="position: relative;">
              <div class="wrapper">
                <main>
                  <aside>
                    <video poster="../../assets/song-background.jpg" src="../../assets/ckin.mp4" data-ckin="default"></video>
                  </aside>
                  <div class="controls">
                    <br>
                    <p>Feels great to listen to this carefree whistled melody over a down-home backing featuring acoustic guitar, piano and banjo.</p>
                  </div>
                </main>
              </div>
          </div>
        </div>
            
            
        </div>
    </div>
</div>

<!-- music_area  -->
<div class="music_area music_gallery">
  <div class="container" style="border: 1px solid #EFEFEF; box-shadow: 0px 10px 1px #ddd, 0 10px 20px #ccc;">
      <div class="row">
          <div class="col-xl-12">
              <div class="section_title text-center mb-65">
                  <br>
                  <h3>Latest Tracks</h3>
              </div>
          </div>
      </div>
      <div class="row align-items-center justify-content-center mb-20">
          <div class="col-xl-10">
              <div class="row align-items-center">
                  <div class="col-xl-9 col-md-9">
                      <div class="music_field">
                          <div class="thumb cover-image">
                              <img src="../../assets/audio.png" alt="">
                          </div>
                          <div class="audio_name">
                              <div class="name">
                                  <h4>Frando Kally</h4>
                                  <p>10 November, 2019</p>
                              </div>
                              <audio preload="auto" controls>
                                  <source src="../../assets/HaruHaru.mp3" class="active">
                              </audio>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-md-3">
                      <div class="music_btn">
                          <a href="#" class="boxed-btn">buy albam</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row align-items-center justify-content-center mb-20">
          <div class="col-xl-10">
              <div class="row align-items-center">
                  <div class="col-xl-9 col-md-9">
                      <div class="music_field">
                          <div class="thumb cover-image">
                              <img src="../../assets/audio.png" alt="">
                          </div>
                          <div class="audio_name">
                              <div class="name">
                                  <h4>Frando Kally</h4>
                                  <p>10 November, 2019</p>
                              </div>
                              <audio preload="auto" controls>
                                  <source src="../../assets/HaruHaru.mp3">
                              </audio>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-md-3">
                      <div class="music_btn">
                          <a href="#" class="boxed-btn">buy albam</a>
                      </div>
                  </div>
              </div>
          </div>

      </div>
      <div class="row align-items-center justify-content-center mb-20">
          <div class="col-xl-10">
              <div class="row align-items-center">
                  <div class="col-xl-9 col-md-9">
                      <div class="music_field">
                          <div class="thumb cover-image">
                              <img src="../../assets/audio.png" alt="">
                          </div>
                          <div class="audio_name">
                              <div class="name">
                                  <h4>Frando Kally</h4>
                                  <p>10 November, 2019</p>
                              </div>
                              <audio preload="auto" controls>
                                  <source src="../../assets/HaruHaru.mp3">
                              </audio>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-md-3">
                      <div class="music_btn">
                          <a href="#" class="boxed-btn">buy albam</a>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
<!-- music_area end  -->

<div class="statistic-blk container">
    <h3>Bài hát mới nhất</h3>
    <table class="blk-table">
        <thead>
            <tr>
                <th>Tên tác phẩm</th>
                <th>Album</th>
                <th>Đăng tải</th>
                <th>Sáng tác</th>
                <th>Sở hữu</th>
                <th>Loại tài sản</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of musicItemList">
                <td><a href="/music/user-buyer/{{item.id}}">{{item.name}}</a></td>
                <td>{{item.album}}</td>
                <td>{{item.publishingYear}}</td>   
                <td>{{item.ownerId}}</td>  
                <td>{{item.ownerId}}</td>
                <td>{{item.creatureType}}</td>
            </tr>
        </tbody>
    </table>  
</div>
<div class="space-50"></div>
<div class="statistic-blk container">
    <h3>Bảng xếp hạng</h3>
    <table class="blk-table">
        <thead>
            <tr>
                <th>Tên tác phẩm</th>
                <th>Album</th>
                <th>Đăng tải</th>
                <th>Sáng tác</th>
                <th>Sở hữu</th>
                <th>Loại tài sản</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of musicItemList">
                <td><a href="/music/user-buyer/{{item.id}}">{{item.name}}</a></td>
                <td>{{item.album}}</td>
                <td>{{item.publishingYear}}</td>   
                <td>{{item.ownerId}}</td>  
                <td>{{item.ownerId}}</td>
                <td>{{item.creatureType}}</td>
            </tr>
        </tbody>
    </table>   
</div>
<div class="space-50"></div>
