.form-style-12{
	max-width: 100%;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
    border: 6px solid #305A72;
    color: black;
}
.form-style-12 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.form-style-12 ul li{
	display: flex;
	margin-bottom: 10px;
	min-height: 35px;
}
.form-style-12 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}.form-style-12 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.form-style-12 ul li .field-split{
	width: 49%;
}
.form-style-12 ul li .field-full{
	width: 100%;
}
.form-style-12 ul li input.align-left{
	float:left;
}
.form-style-12 ul li input.align-right{
	float:right;
}
.form-style-12 ul li textarea{
	width: 100%;
	height: 100px;
}
.form-style-12 ul li input[type="button"], 
.form-style-12 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
.form-style-12 ul li input[type="button"]:hover, 
.form-style-12 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}

.form-style-12 ul li input {
    color: black;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray;
    opacity: 1; /* Firefox */
  }

  /*	
	Side Navigation Menu V2, RWD
	===================
	License:
	https://goo.gl/EaUPrt
	===================
	Author: @PableraShow

 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
 
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}

.statistic-blk h3 {
  font-size:2.2em; 
  font-weight: 500;
  line-height:1em;
  text-align: center;
  color: #4d82fa;
}

h2,
.statistic-blk h1 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.blk-table th h1 {
   font-weight: bold;
   font-size: 1em;
  text-align: left;
  color: #185875;
}

.blk-table td {
      font-weight: normal;
      font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
       -moz-box-shadow: 0 2px 2px -2px #0E1119;
            box-shadow: 0 2px 2px -2px #0E1119;
}

.blk-table {
   text-align: left;
   overflow: hidden;
   width: 100%;
   /* margin: 0 auto; */
  display: table;
  padding: 0 0 8em 0;
}

.blk-table td, .blk-table th {
   padding-bottom: 2%;
   padding-top: 2%;
   padding-left:2%;  
}

/* Background-color of the odd rows */
.blk-table tr:nth-child(odd) {
      background-color: #323C50;
}

/* Background-color of the even rows */
.blk-table tr:nth-child(even) {
      background-color: #2C3446;
}

.blk-table th {
      background-color: #1F2739;
}

/* Statistic */
.statistic-blk .blk-table td:first-child a{ 
    color: #FB667A; 
    width: 17%;
}

.statistic-blk .blk-table td:nth-child(2) {
   width: 16%;
}

.statistic-blk .blk-table td:nth-child(3),
.statistic-blk .blk-table td:nth-child(4) { 
   width: 17%;
}

.statistic-blk .blk-table td:nth-child(6) { 
    width: 15%;
 }

/* Statistic */

.blk-table tr:hover {
	background-color: #464A52;
 -webkit-box-shadow: 0 6px 6px -6px #0E1119;
		-moz-box-shadow: 0 6px 6px -6px #0E1119;
			 box-shadow: 0 6px 6px -6px #0E1119;
 }
 
 /* .blk-table td:hover {
   background-color: #FFF842;
   color: #403E10;
   font-weight: bold;
   
   box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
   transform: translate3d(6px, -6px, 0);
   
   transition-delay: 0s;
	   transition-duration: 0.4s;
	   transition-property: all;
   transition-timing-function: line;
 } */
 
 @media (max-width: 800px) {
 .blk-table td:nth-child(4),
 .blk-table th:nth-child(4) { display: none; }
 }

 .statistic-blk h1{
	color: black;
	font-size:2em; 
   font-weight: 600;
   line-height: 0.1em;
 }
 
 /* Box */

 .thumbnails {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 322px;
}

  .thumbnails .box {
    margin: 0 1.75em 2em 1em;
    width: 22%;
    height: 100%;
  }

  .thumbnails .box:last-child {
	  margin-right: 0;
  }

    @media screen and (max-width: 1280px) {

      .thumbnails .box {
        width: 45%;
      }

    }

    @media screen and (max-width: 736px) {

      .thumbnails .box {
        width: 100%;
      }

    }

    /* Box */

	.box {
		border-radius: 4px;
		margin-bottom: 2em;
		background: #2c2c32;
		text-align: center;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box .image.fit {
			margin: 0;
		}

		.box .image img {
			border-radius: 4px 4px 0 0;
		}

		.box .inner {
			padding: 1.5em;
			width: 100% !important;
		}

			@media screen and (max-width: 480px) {

				.box .inner {
					padding: 1em;
				}

			}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
    }
    
    /* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 2em 0;
		width: 100%;
	}

		table tbody tr {
			border: solid 1px rgba(144, 144, 144, 0.25);
			border-left: 0;
			border-right: 0;
		}

			table tbody tr:nth-child(2n + 1) {
				/* background-color: rgba(144, 144, 144, 0.075); */
			}

		table td {
			padding: 0.75em 0.75em;
		}

		table th {
			color: #fff;
			font-size: 0.9em;
			font-weight: 400;
			padding: 0 0.75em 0.75em 0.75em;
			text-align: left;
		}

		table thead {
			border-bottom: solid 2px rgba(144, 144, 144, 0.25);
		}

		table tfoot {
			border-top: solid 2px rgba(144, 144, 144, 0.25);
		}

		table.alt {
			border-collapse: separate;
		}

			table.alt tbody tr td {
				border: solid 1px rgba(144, 144, 144, 0.25);
				border-left-width: 0;
				border-top-width: 0;
			}

				table.alt tbody tr td:first-child {
					border-left-width: 1px;
				}

			table.alt tbody tr:first-child td {
				border-top-width: 1px;
			}

			table.alt thead {
				border-bottom: 0;
			}

			table.alt tfoot {
				border-top: 0;
			}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: #70c7be;
		border-radius: 4px;
		border: 0;
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		font-weight: 400;
		height: 2.85em;
		line-height: 2.95em;
		padding: 0 1.5em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			background-color: #82cec6;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: #5ec0b6;
		}

		input[type="submit"].icon,
		input[type="reset"].icon,
		input[type="button"].icon,
		button.icon,
		.button.icon {
			padding-left: 1.35em;
		}

			input[type="submit"].icon:before,
			input[type="reset"].icon:before,
			input[type="button"].icon:before,
			button.icon:before,
			.button.icon:before {
				margin-right: 0.5em;
			}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			display: block;
			margin: 0 0 1em 0;
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.8em;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		button.big,
		.button.big {
			font-size: 1.35em;
		}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			background-color: rgba(255, 255, 255, 0.75) !important;
			box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
			color: #202024 !important;
			cursor: default;
			opacity: 0.25;
		}

		input[type="submit"].style2,
		input[type="reset"].style2,
		input[type="button"].style2,
		button.style2,
		.button.style2 {
			background-color: #7f92cf;
		}

			input[type="submit"].style2:hover,
			input[type="reset"].style2:hover,
			input[type="button"].style2:hover,
			button.style2:hover,
			.button.style2:hover {
				background-color: #92a2d6;
			}

			input[type="submit"].style2:active,
			input[type="reset"].style2:active,
			input[type="button"].style2:active,
			button.style2:active,
			.button.style2:active {
				background-color: #6c82c8;
			}

		input[type="submit"].style3,
		input[type="reset"].style3,
		input[type="button"].style3,
		button.style3,
		.button.style3 {
			background-color: #9d7ed0;
		}

			input[type="submit"].style3:hover,
			input[type="reset"].style3:hover,
			input[type="button"].style3:hover,
			button.style3:hover,
			.button.style3:hover {
				background-color: #ab91d7;
			}

			input[type="submit"].style3:active,
			input[type="reset"].style3:active,
			input[type="button"].style3:active,
			button.style3:active,
			.button.style3:active {
				background-color: #8f6bc9;
			}

		@media screen and (max-width: 480px) {

			input[type="submit"],
			input[type="reset"],
			input[type="button"],
			button,
			.button {
				padding: 0;
			}

    }
    
    /* Main */

	#main {
		padding: 4em 0 2em 0;
	}

		@media screen and (max-width: 736px) {

			#main {
				padding: 3em 0 1em 0;
			}

		}

		#main .inner {
			width: 90%;
			max-width: 80em;
			margin: 0 auto;
		}
      
    /* Type */

    body, textarea {
      color: rgba(255, 255, 255, 0.75);
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14pt;
      font-weight: 300;
      line-height: 1.65;
    }

    .main a {
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		color: rgba(255, 255, 255, 0.75);
		text-decoration: none;
		border-bottom: 1px dotted;
		outline: 0;
	}

	.main	a:hover {
			color: #FFF;
			border: none;
		}

    .main 	strong, b {
		color: #fff;
		font-weight: 400;
	}

	.main em, i {
		font-style: italic;
	}

	.main p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #fff;
		font-weight: 400;
		line-height: 1.5;
		margin: 0 0 1em 0;
	}

	.main	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

  .main h2 {
		font-size: 1.75em;
	}

	.main h3 {
		font-size: 1.35em;
	}

	.main h4 {
		font-size: 1.1em;
	}

	.main h5 {
		font-size: 0.9em;
	}

	.main h6 {
		font-size: 0.7em;
	}

	.main sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	.main sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	.main blockquote {
		border-left: solid 4px rgba(144, 144, 144, 0.25);
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	.main code {
		background: rgba(144, 144, 144, 0.075);
		border-radius: 4px;
		border: solid 1px rgba(144, 144, 144, 0.25);
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	.main pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

	.main	pre code {
			display: block;
			line-height: 1.75;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

    .main hr {
		border: 0;
		border-bottom: solid 1px rgba(144, 144, 144, 0.25);
		margin: 2em 0;
	}

	.main 	hr.major {
			margin: 3em 0;
		}

    .main .align-left {
		text-align: left;
	}

	.main .align-center {
		text-align: center;
	}

	.main .align-right {
		text-align: right;
  }
  
  img {
	height: 82%;
    width: 82%;
    margin-top: 19px;
  }

  @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

.wrapper { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: white; }

main
{
	position: absolute;
	top: 561%;
	left: 64%;
	width: 269px;
	height: 293px;
	overflow: visible;
	margin: -240px 0 0 -180px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .4);
	border-radius: 30px;
	background-color: rgba(94, 83, 152, .85);
}

main > aside
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 142px;
  left: 0;
  overflow: hidden;
  border-radius: 30px 30px 0 0;
}

main > aside > img
{
  display: block;
  width: 100%;
  height: auto;
  min-height: 338px;
  border-radius: 30px 30px 0 0;
  object-fit: cover;
}

main > aside > header, main > aside > footer
{
  position: absolute;
  top: -65px;
  right: 0;
  left: 0;
  height: 65px;
  background: rgba(94, 83, 152, .85);
  border-radius: 30px 30px 0 0;
  text-align: center;
  color: #FFF;
  font-size: 13px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
  transition: all .5s;
}

main > aside > header
{
  line-height: 65px;
  vertical-align: middle;
  font-size: 14px;
  color: #FFF;
}

main:hover > aside > header { top: 0 }

main > aside > header > a
{
  display: inline-block;
  width: 30px;
  font-family: "FontAwesome";
  text-decoration: none;
  text-align: center;
  color: inherit;
}

main > aside > header > a[href="#menu"]
{
  position: absolute;
  top: 50%;
  right: 25px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: -15px 0 0;
  vertical-align: middle;
  text-align: right;
  color: rgba(255, 255, 255, .5);
}

main > aside > header > a[href="#menu"]:after { content: "\f0c9" }

main > aside > header > a[href="#repeat-all"]:after { content: "\f079" }
main > aside > header > a[href="#shuffle"]:after { content: "\f074" }
main > aside > header > a[href="#repeat-one"]:after { content: "\f01e" }

main > aside > footer
{
  top: auto;
  bottom: -65px;
  border-radius: 0;
}

main:hover > aside > footer { bottom: 0 }

main > aside > footer > strong
{
  display: block;
  margin: 10px 0 5px;
  font-size: 16px;
}

main > .controls
{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 7px 0 0;
  height: 135px;
  background-color: rgba(94, 83, 152, 0);
  border-radius: 0 0 30px 30px;
  color: white;
}

main > .controls > .volume
{
  position: relative;
  top: -7px;
  height: 7px;
  background: #E95F74;
}

main > .controls > .volume > em
{
  display: block;
  height: 7px;
  background: #FFF;
}

main > .controls > .volume > a
{
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  margin: -11px 0 0 -11px;
  background: #FFF;
  border-radius: 100%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  color: #5F5493;
}

main > .controls > .volume > a:after
{
  font-family: "FontAwesome";
  content: "\f027";
}

main > .controls > a
{
  display: block;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 36px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  margin: -18px 0 0 -18px;
  background: #5E5398;
  border-radius: 100%;
  text-align: center;
  text-decoration: none;
  font-family: "FontAwesome";
  font-size: 14px;
  color: #FFF;
}

main > .controls > a[href="#play"]
{
	width: 50px;
    height: 50px;
    line-height: 50px;
    margin: -24px 0 0 -25px;
    font-size: 18px;
}

main > .controls > a[href="#share"], main > .controls > a[href="#love"]
{
  background: #FFF;
  margin-left: -125px;
  color: #5E5398;
}
main > .controls > a[href="#share"]:after { content: "\f045" }

main > .controls > a[href="#play"]:after { content: "\f04b" }
main.playing > .controls > a[href="#play"]:after { content: "\f04c" }
main > .controls > a[href="#prev"] { margin-left: -75px; }
main > .controls > a[href="#prev"]:after { content: "\f048" }
main > .controls > a[href="#next"] { margin-left: 42px; }
main > .controls > a[href="#next"]:after { content: "\f051" }

main > .controls > a[href="#love"]
{
  margin-left: 92px;
  color: #E95F74;
}

main > .controls > a[href="#love"]:after { content: "\f004" }

main > .controls > .progress
{
	display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 54px;
    height: 54px;
    margin: -26px 0 0 -28px;
    border: 4px solid #FFF;
    border-top-color: #D3D5DF;
    border-right-color: #D3D5DF;
    transform: rotate(45deg);
    border-radius: 100%;
}
  